/* dashboard-style.css */

/* General Styles */
body {
    background-color: #f9f9f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    color: #9b51e0;
    font-weight: 700;
}

/* Card Styles */
.card {
    border: none;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;
    background-color: #fff;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    font-size: 2.5rem;
    color: #9b51e0;
    font-weight: bold;
}

.card-text {
    color: #373a3d;
    font-size: 1.1rem;
    margin-top: 10px;
}

/* List Group Styles */
.list-group-item {
    border: none;
    font-size: 1.00 rem;
    background-color: transparent;
    padding: 12px 20px;
    border-top: 1px solid #dee2e6; 
    border-bottom: 1px solid #dee2e6;
}

.badge.bg-primary {
    background-color: #9b51e0 !important;
}

h2 {
    font-weight: bold;
    color: #9b51e0;
}

.btn-secondary {
  background-color: #fff;
  color: #9b51e0;
  border: 2px solid #9b51e0;
  border-radius: 999px;
  padding: 0.4rem 1.2rem;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-secondary:hover {
  background-color: #9b51e0;
  color: #fff;
  border-color: #9b51e0;
}
