{% extends 'index.html' %}
{% block title %}About Us - EnsoQuest{% endblock title %}

{% block content %}

<h1 class="display-4 text-center my-5">About Us</h1>

<main>
    <div class="container col-md-8 col-sm-12">
        <section class="app-description">
            <h2>Welcome to EnsoQuest</h2>
            <p>
                EnsoQuest is Ensono’s platform for trainee assessments — designed to make weekly tests simple, secure, and effective. With smart tools for test-taking, performance tracking, and study resources, it keeps learning on track.

EnsoQuest — Making Better Happen.
            </p>
        </section>

        <section class="how-it-works">
            <h2>How It Works</h2>
            <p>
                 EnsoQuest provides a streamlined experience for trainees and trainers to manage weekly assessments with ease:
            </p>
            <ul>
                <li>Sign up and create your personalized account.</li>
                <li>Access scheduled assessments.</li>
                <li>Download study materials and resources.</li>
                <li>Take weekly tests through a secure and user-friendly interface.</li>
                <li>Get instant results and track your performance over time.</li>
                <li>Provide feedback on your training experience each week.</li> 
                <li>Receive updates, notices, and important announcements directly on the platform.</li>
            </ul>
        </section>
    </div>
</main>

{% endblock content %}