{% extends 'index.html' %}
{% load static %}

{% block title %} All Quizzes - EnsoQuest {% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/alltest-style.css' %}">

<h1 class="display-4 text-center my-4 fw-bold title">Tests</h1>

<div class="container">
{% if messages %}
  <div class="mt-3">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </div>
{% endif %}
  
     {% if request.user.is_authenticated and request.user.is_staff %}
     <div class="mb-3 text-end">
     <a href="{% url 'add_quiz' %}" class="btn btn-primary mb-3">+ Add Test</a>
     </div>
     {% endif %}

  <div class="d-flex flex-wrap gap-2 mb-4">
    <a href="{% url 'all_quiz' %}" class="btn btn-outline-primary">All Tests</a>
    {% for category in categories %}
      <a href="{% url 'search' category.name %}" class="btn btn-primary">{{ category.name }}</a>
    {% endfor %}
  </div>
</div>

<form class="container d-flex my-4" role="search" method="get" action="{% url 'search' %}">
  <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
  <button type="submit" class="btn btn-secondary">Search</button>
</form>

<div class="container my-5">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% if quizzes %}
      {% for quiz in quizzes %}
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <h4 class="card-title">{{ quiz.title }}</h4>
              <p class="card-text">Total Questions: {{ quiz.question_set.all|length }}</p>
              <p class="card-text">{{ quiz.description|truncatewords:7 }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'quiz' quiz.id %}" class="btn btn-sm btn-outline-primary">Start Test</a>
                  <a href="{% url 'quiz_report' quiz.id %}" class="btn btn-sm btn-outline-primary ms-2">View Report</a>
                </div>
                <small class="text-body-secondary">{{ quiz.created_at|timesince }} ago</small>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="col-12">
        <p class="text-center text-danger fs-5">There is no Test available for this category or search.</p>
      </div>
    {% endif %}
  </div>
</div>
{% endblock content %}
