{% extends 'index.html' %} 
{% block title %}Blogss - EnsoQuest{% endblock title %}

{% block content %}

<h1 class="display-4 text-center my-5">Blogs</h1>

<main>
    <div class="container col-md-6 col-sm-12">
        <ul class="list mb-4 p-3">
            <h3>Latest from 2025</h3>
            <li class="d-flex justify-content-between mb-2">
                <a href="/blogs/2">Why Mainframes Still Matter in 2025</a>
                <span title="26 April 25 08:05 UTC" class="text-secondary">April 26, 2025</span>
            </li>
            <li class="d-flex justify-content-between mb-2">
                <a href="/blogs/2">z/OS Enhancements: What’s New This Year</a>
                <span title="26 April 25 08:05 UTC" class="text-secondary">April 26, 2025</span>
            </li>
            <li class="d-flex justify-content-between mb-2">
                <a href="/blogs/2">Mainframes and the Cloud: A 2025 Perspective</a>
                <span title="26 April 25 08:05 UTC" class="text-secondary">April 26, 2025</span>
            </li>
        </ul>
        <ul class="list mb-4 p-3">
            <h3> Trainee Insights & Projects</h3>
            <li class="d-flex justify-content-between mb-2">
                <a href="/blogs/2">My First Experience with Mainframe Programming</a>
                <span title="26 April 25 08:05 UTC" class="text-secondary">April 26, 2025</span>
            </li>
            <li class="d-flex justify-content-between mb-2">
                <a href="/blogs/2">Overcoming Challenges in System Programming</a>
                <span title="26 April 25 08:05 UTC" class="text-secondary">April 26, 2025</span>
            </li>
            <li class="d-flex justify-content-between mb-2">
                <a href="/blogs/2">Mastering the Essentials of System Programming</a>
                <span title="26 April 25 08:05 UTC" class="text-secondary">April 26, 2025</span>
            </li>
        </ul>
    </div>
</main>

{% endblock content %}
