{% extends "index.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/create_session.css' %}">

<div class="create-session-container">
    <h2>Create Session</h2>
    <form method="post">
        {% csrf_token %}
        
        <p>
          {{ form.name.label_tag }}<br>
          {{ form.name }}
          {{ form.name.errors }}
        </p>

        <p>
          {{ form.description.label_tag }}<br>
          {{ form.description }}
          {{ form.description.errors }}
        </p>

        <p class="field-trainees-label">
          {{ form.trainees.label_tag }}
        </p>
        <div class="field-trainees">
         {{ form.trainees }}
        </div>
         {{ form.trainees.errors }}

        <div class="attendance-button-row">
        <a href="{% url 'attendance:session_list' %}">← Back to Sessions</a>
        <button type="submit">Create</button>
        </div>
    </form>
</div>
{% endblock %}
