{% extends 'index.html' %}
{% block title %} edit question - EnsoQuest {% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/edit_form.css' %}">

<div class="edit-container">
  
  <form method="post">
    <h2>{{ heading }}</h2>

    {% csrf_token %}
    {{ form.as_p }}

    <div class="edit-button-row">
      <a href="{{ back_url }}" class="btn-secondary">← Back</a>
      <button type="submit" class="btn-primary">Save Changes</button>
    </div>
  </form>
</div>
{% endblock %}
