{% extends "index.html" %}

{% block content %}
{% load dict_extras %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/mark_attendance.css' %}">
<div class="attendance-container">
<h2>Mark Attendance for {{ session.name }} on {{ date }}</h2>
<form method="post">
    {% csrf_token %}
    <div class="table-wrapper">
    <table>
        <tr>
            <th>Trainee</th>
            <th>Present</th>
        </tr>
        {% for trainee in trainees %}
        <tr>
            <td>{{ trainee.get_full_name|default:trainee.username }}</td>
            <td>
                <input type="checkbox" name="present_{{ trainee.id }}" 
                {% if attendance_records|dictkey:trainee.id and attendance_records|dictkey:trainee.id.present %}checked{% endif %}>
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <button type="submit">Save Attendance</button>
</form>
<a href="{% url 'attendance:session_list' %}">Back to Sessions</a>
{% endblock %}
</div>