{% extends 'index.html' %}
{% block title %}Message from @{{message.user.username}} - EnsoQuest{% endblock title %}
{% load static %}
{% block content %}
<!-- Google Font: Poppins -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/message.css' %}">

<div class="message-card">
    <div class="message-header">
        <h1>Message From @{{ message.user.username }}</h1>
    </div>

    <article>
        <div class="message-detail">
            <div class="message-label">From</div>
            <div class="message-value">
                <a href="{% url 'profile' message.user.username %}">@{{ message.user.username }}</a>
            </div>
        </div>

        <div class="message-detail">
            <div class="message-label">Received At</div>
            <div class="message-value">{{ message.created_at }}</div>
        </div>

        <div class="message-detail">
            <div class="message-label">Subject</div>
            <div class="message-value">{{ message.subject }}</div>
        </div>

        <div class="message-detail">
            <div class="message-label">Message</div>
            <div class="message-value">{{ message.message }}</div>
        </div>
    </article>
</div>
{% endblock content %}
