{% extends 'index.html' %}
{% block title %}EnsoQuest - {{ action }} Notice{% endblock title %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/notice_form.css' %}">
<div class="notice-form-wrapper">
  <h2>{{ action }} Notice</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="attendance-button-row">
      <a class="btn-secondary" href="{% url 'notice_list' %}">← Back to Notices</a>
      <button class="btn-primary" type="submit">{{ action }}</button>
    </div>
  </form>
</div>
{% endblock %}
