{% extends 'index.html' %}
{% block title %}EnsoQuest - Notice{% endblock title %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/notice_list.css' %}">

<h2 class="title">Notice</h2>
<div class="notice-container">
  <div class="notice-header">
    <h2>All Notices</h2>
    {% if user.is_superuser %}
     <a href="{% url 'add_notice' %}" class="btn btn-primary">+ Add Notice</a>

    {% endif %}
  </div>

  <ul class="notice-list">
    {% for notice in notices %}
      <li>
        <strong>{{ notice.title }}</strong><br>
        {{ notice.content }}<br>
        <small>{{ notice.created_at|date:"d M Y, H:i A" }}</small>
        {% if user.is_superuser %}
          <a href="{% url 'edit_notice' notice.id %}">Edit</a>
        {% endif %}
      </li>
    {% empty %}
      <li class="empty-message">No notices available.</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
