{% extends "index.html" %}
{% block title %}EnsoQuest - Notification{% endblock title %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/notifications.css' %}">
<h2 class="title">Notifications</h2>
<div class="notifications-wrapper">
  
  <ul class="notification-list">
    {% for notification in notifications %}
      <li class="notification-item {% if not notification.is_read %}unread{% endif %}">
        {{ notification.message }}
        <span class="notification-time">{{ notification.created_at }}</span>
      </li>
    {% empty %}
      <li class="no-notifications">No notifications.</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
