{% extends 'index.html' %}

{% block title %}@{{user_profile2.user.username}}'s Profile - EnsoQuest {% endblock title %}
{% block content %}
    <h1 class="display-4 text-center my-4">@{{user_profile2.user.username}}'s Profile</h1>
    <div class="container text-center">
      {% if request.user.username == user_profile2.user.username %}  
      <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{% url 'edit_profile' %}" type="button" class="btn btn-outline-primary">Edit</a>
        <a href="{% url 'delete_profile' %}" type="button" class="btn btn-outline-primary">Delete</a>
      </div>
      {% endif %}
      <div class="container text-center my-5">
        <div class="row">
          <div class="col">
            <img src="{{user_profile2.profile_img.url}}" alt="user-profile" class="rounded-circle" width="150" height="150">

            <h2 class="fs-3">@{{user_profile2.user.username}}</h2>
          </div>
          <div class="col" div style= 'text-align:left'>
           <h2>{{user_profile2.full_name|default:'Full name not available'}} {{user_profile2.full_name}}</h2>
           <p class="fs-5"><i class="bi bi-envelope-at-fill "></i> {{user_profile2.email_address|default:'Email not available'}} </p>
           <p class="fs-5"><i class="bi bi-person-circle"></i> {{user_profile2.position|default:'Position not available'}} </p>
           <p class="fs-5"><i class="bi bi-info-square-fill"></i> {{user_profile2.bio|default:'Bio not available'}} </p>
          </div>
        </div>
      </div>

      <hr class="my-5">

      <div class="container">
        <div class="row">
            <div class="col">
                <h3>Test attended by @{{user_profile2.user.username}}</h3>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Test</th>
                        <th scope="col">Marks</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>JCL</td>
                        <td>19/20</td>
                        <td>January 15, 2025</td>
                        <td>10:00 am</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>RACF</td>
                        <td>18/20</td>
                        <td>february 15, 2025</td>
                        <td>11:00 am</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>REXX</td>
                        <td>16/20</td>
                        <td>March 15, 2025</td>
                        <td>10:30 am</td> 
                      </tr>
                    </tbody>
                  </table>  
            </div>
            <div class="col">
             <h3>@{{user_profile2.user.username}}'s Performance</h3>
            </div>
        </div>
      </div>
    </div>

{% endblock content %}  