{% extends 'index.html' %}
{% block title %}EnsoQuest - Ask a Question{% endblock title %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/question_form.css' %}">


<div class="question-form-scope">
  
  <div class="container">
    
    <form method="post">
      <h1 >Ask a Question</h1>
      {% csrf_token %}
      {{ form.as_p }}
      <div class="button-row">
  <button type="submit" class="btn-primary">Submit</button>
  <a href="#" class="back-link">Back</a>
</div>
 </form>
{% endblock content %}
