{% extends 'index.html' %}
{% block title %}EnsoQuest - Ask a Question{% endblock title %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/question_form.css' %}">

<h1 class="title">Ask a Question</h1>
<div class="question-form-scope">
  <div class="container">
    
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Post</button>
      </div>
    </form>
    <a href="{% url 'forum:question_list' %}" class="back-link">← Back to Questions</a>
  </div>
</div>
{% endblock content %}
