{% extends 'index.html' %}
{% block title %}Register - EnsoQuest {% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">

<h1 class="display-4 text-center my-4 fw-bold title">Register</h1>

<div class="container my-4">
  <div class="glass-container">
    {% for message in messages %}
      <h5 class="text-danger">{{ message }}</h5>
    {% endfor %}
    <form method="POST" action="">
      {% csrf_token %}
      <div class="mb-3">
        <input type="text" name="username" class="form-control" placeholder="Username" required>
      </div>
      <div class="mb-3">
        <input type="email" name="email" class="form-control" placeholder="Email" required>
      </div>
      <div class="mb-3">
        <input type="password" name="password" class="form-control" placeholder="Password" required>
      </div>
      <div class="mb-3">
        <input type="password" name="password2" class="form-control" placeholder="Re-enter Password" required>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
        <label class="form-check-label" for="exampleCheck1">
          <a href="{% url 'terms_conditions' %}">Terms and Conditions</a>
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
      <p class="mt-3">Already a user? <a href="{% url 'login' %}">Login</a></p>
    </form>
  </div>
</div>

{% endblock content %}
