{% extends 'index.html' %}
{% block title %}Resource - EnsoQuest{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/resource_list.css' %}">
<div class="container mt-5">
  <h1 class="mb-5 text-center title">Resources Library</h1>

  <!-- Upload Button Container -->
  {% if user.is_staff %}
  <div class="upload-btn-container">
    <a href="{% url 'upload_resource' %}" class="btn btn-primary">
      + Upload Resource
    </a>
  </div>
  {% endif %}
  <div class="row">
    {% for resource in resources %}
    <div class="col-md-4 mb-4">
      <div class="card square-card shadow text-start">
        <div>
          <h5 class="card-title text-center">{{ resource.title }}</h5>
          <p class="card-text description-text">
            <span class="info-label">Description:</span>
            {{ resource.description|truncatewords:20 }}
          </p>
          <p class="card-text">
            <span class="info-label">Author:</span> {{ resource.author_name }}
          </p>
          <p class="card-text">
            <span class="info-label">Uploaded by:</span> {{ resource.uploaded_by.username }}
          </p>
        </div>
        <a class="btn btn-outline-primary mt-3 w-100" href="{{ resource.file.url }}" download>Download</a>
      </div>
    </div>
    {% empty %}
    <p class="text-center">No resources uploaded yet.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
