{% extends 'index.html' %}
{% block title %}Resources - EnsoQuest{% endblock title %}

{% block content %}
<h1 class="display-4 text-center my-5 title">Resources</h1>

<main>
    <div class="container col-md-8 col-sm-12">
        <div class="download-item mb-4">
            <h2 class="">JCL Lab document </h2>
            <p>The JCL Lab Document provides essential exercises and examples to help you master Job Control Language (JCL) for executing batch jobs on z/OS. It’s perfect for hands-on practice and understanding JCL syntax.</p>
            <a href="" class="btn btn-primary">Download</a>
            <hr>
        </div>
        <div class="download-item mb-4">
            <h2>MVS Commands </h2>
            <p>The MVS Commands document offers a reference for key commands used to manage resources and perform diagnostics in a mainframe MVS environment. It’s a practical guide for interacting with the system.

</p>
            <a href="" class="btn btn-primary">Download</a>
            <hr>
        </div>
        <div class="download-item mb-4">
            <h2>SMPE notes</h2>
            <p>The SMPE Notes document explains the process of applying software updates and handling system modifications using the SMPE utility on z/OS. It’s essential for maintaining system integrity during software installations.</p>
            <a href="" class="btn btn-primary">Download</a>
            <hr>
        </div>
    </div>
</main>

{% endblock content %}