{% extends 'index.html' %}

{% block title %}Terms & Conditions - EnsoQuest{% endblock title %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/terms-style.css' %}">

<h1 class="display-4 text-center my-5 title">Terms & Conditions</h1>

<main>
    <div class="container col-md-8 col-sm-12">
        <h2>1. Introduction</h2>
        <p>
            Welcome to EnsoQuest. By accessing and using this platform, you agree to comply with these terms and conditions. If you do not agree with any part of these terms, please refrain from using the platform.<br>
        </p>

        <h2>2. User Accounts</h2>
        <p>
            2.1 To participate in assessments, you must create a user account on EnsoQuest as an Ensono trainee. <br> 
            2.2 You are responsible for maintaining the confidentiality of your login credentials and for any activity that occurs under your account.  <br>
            2.3 Only Ensono trainees are eligible to use this platform for assessments. <br>
        </p>

        <h2>3. Content</h2>
        <p>
            3.1 EnsoQuest allows users to upload study materials and assessment content.  <br>
            3.2 You agree not to upload or share any content that is offensive, harmful, or violates third-party rights. <br> 
            3.3 EnsoQuest reserves the right to remove content that violates these terms without prior notice. <br>
        </p>

        <h2>4. Intellectual Property</h2>
        <p>
            4.1 All intellectual property rights in the platform, including study materials, assessments, and content, are owned by EnsoQuest or its licensors. <br> 
            4.2 You may not use, reproduce, or distribute any content from the platform without explicit permission from the content owner. <br>
        </p>

        <h2>5. Disclaimer</h2>
        <p>
            5.1 Platform Availability  <br>
            EnsoQuest strives to ensure the continuous availability of its training platform. However, we do not guarantee uninterrupted access due to potential technical issues, maintenance, or unforeseen circumstances. <br> 
        </p>
        <p>
            5.2 Content Accuracy <br>
            While we endeavor to provide accurate and up-to-date training materials, EnsoQuest does not warrant the completeness or accuracy of the content. Users are encouraged to verify information independently.  <br>
        </p>
        <p>
            5.3 Liability Limitation <br>
            EnsoQuest and its affiliates are not liable for any direct, indirect, incidental, or consequential damages arising from the use or inability to use the platform, including but not limited to loss of data or profit. <br> 
        </p>
        <p>
            5.4 User Responsibility <br>
            Users are responsible for their actions within the platform. EnsoQuest is not liable for any misuse or unauthorized access resulting from user negligence.  <br>
        </p>

        <h2>6. Changes to Terms</h2>
        <p>
            6.1 EnsoQuest reserves the right to modify these terms and conditions at any time. <br> 
            6.2 Any changes will take effect immediately upon posting on this page.<br>
            6.3 Continued use of the platform after changes indicates acceptance of the updated terms.<br>
        </p>
    </div>
</main>

{% endblock content %}
