{% extends 'index.html' %}

{% block title %}Report - {{ quiz.title }}{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/test_report.css' %}">
<div class="container my-5">
  <h2 class="title">Report - {{ quiz.title }}</h2>

  <!-- Chart Section -->
  <div class="chart-container">
    <canvas id="scoreChart" height="100"></canvas>
  </div>

  <div class="table-scroll">
    <table class="table">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Username</th>
          <th>Score</th>
          <th>Submitted At</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in ranked_submissions %}
        <tr>
          <td>#{{ entry.rank }}</td>
          <td><a href="{% url 'profile' entry.submission.user.username %}">{{entry.submission.user.get_full_name|default:entry.submission.user.username }}</a></td>
          <td>{{ entry.submission.score }}</td>
          <td>{{ entry.submission.submitted_at|date:"Y-m-d H:i" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


<a href="{% url 'quiz_report_export' quiz.id %}" class="btn btn-primary">Export Report</a>
  
</div>

<!-- Chart.js CDN -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Chart Script -->
<script>
  const ctx = document.getElementById('scoreChart').getContext('2d');

  const usernames = [
    {% for entry in ranked_submissions %}
      "{{ entry.submission.user.username }}",
    {% endfor %}
  ];    

  const scores = [
    {% for entry in ranked_submissions %}
      {{ entry.submission.score }},
    {% endfor %}
  ];

  const backgroundColors = new Array({{ ranked_submissions|length }}).fill('rgba(155, 81, 224, 0.7)');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: usernames,
      datasets: [{
        label: 'Score',
        data: scores,
        backgroundColor: 'rgba(155, 81, 224, 0.7)' ,
        borderColor: 'rgba(155, 81, 224, 1)',
        borderWidth: 1
      }]
    },
    options: {
      responsive: true,
      plugins: {
        legend: { display: false },
        tooltip: {
          callbacks: {
            label: function(context) {
              return context.parsed.y + ' marks';
            }
          }
        }
      },
      scales: {
        y: {
          beginAtZero: true,
          title: { display: true, text: 'Score' }
        },
        x: {
          title: { display: true, text: 'Usernames' }
        }
      }
    }
  });
</script>
{% endblock %}
