{% extends 'index.html' %}
{% load static %}
{% block title %}Upload Resource - EnsoQuest{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/upload_resource.css' %}">

<div class="upload-form-wrapper">
  <h2>Upload a Resource</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
      {{ form.title.label_tag }}
      {{ form.title }}
    </div>
    <div class="form-row">
      {{ form.description.label_tag }}
      {{ form.description }}
    </div>
    <div class="form-row">
      {{ form.file.label_tag }}
      {{ form.file }}
    </div>
    <div class="form-row">
      {{ form.author_name.label_tag }}
      {{ form.author_name }}
    </div>
    <div class="text-center">
      <button type="submit">Upload</button>
    </div>
  </form>
</div>
{% endblock %}
