<footer style="margin: 0; padding: 0;">
    <ul class="nav justify-content-center border-bottom ">
      <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="{% url 'blogs' %}" class="nav-link px-2 text-body-secondary">Blogs</a></li>
      <li class="nav-item"><a href="{% url 'resources' %}" class="nav-link px-2 text-body-secondary">Resources</a></li>
      <li class="nav-item"><a href="{% url 'about' %}" class="nav-link px-2 text-body-secondary">About us</a></li>
      <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link px-2 text-body-secondary">Contact us</a></li>
      <li class="nav-item"><a href="{% url 'terms_conditions' %}" class="nav-link px-2 text-body-secondary">Terms & Conditions</a></li>
      <li class="nav-item"><a href="{% url 'feedback_dashboard' %}" class="nav-link px-2 text-body-secondary">Feedback</a></li>
    </ul>
    <p class="text-center text-body-secondary" >© 2025, EnsoQuest</p>
  </footer>
  